<section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Open Elective Courses
      </h1>
      <p >
        Overview of the Open Elective courses provided by various departments of NIT Hamirpur
      </p>
    </div>
  </div>
</section>


<nav class="navbar is-black">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <img src="" alt="EOE_logo" width="112" height="28">
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <%= link_to 'Home', root_path, class: "navbar-item" %>
    </div> 
  

    <div class="navbar-end">
      <a class="navbar-item" href="#">Login</a>
      <a class="navbar-item" href="#">Register</a>
    </div> 
  </div>  

</nav>